@page "/transaction-history/{TransactionId:guid}"
@using Shared.Entities
@using System.Globalization
@using BudgetAppV2.Client.Pages.Dialogs
@inject NavigationManager Navigation
@inject DialogService DialogService
@inject IFinancialTransactionHistoryService FinancialTransactionHistoryService


<h3>Transaction History</h3>

@if (FinancialTransactionHistoryService.FinancialTransaction == null)
{
    <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate"/>
}
else
{
    <div>
        <div style="display: flex; flex-direction: row; align-items: end; justify-content: space-between; padding: 10px; box-sizing: border-box">
            <div>
                <h4>@FinancialTransactionHistoryService.FinancialTransaction.Name</h4>
                <p>
                    <strong>Current Amount:</strong> @FinancialTransactionHistoryService.FinancialTransaction.CurrentAmount.ToString("C")
                </p>
                <p>
                    <strong>Start Date:</strong> @FinancialTransactionHistoryService.FinancialTransaction.StartDate.ToString("MM/dd/yyyy")
                </p>
                <p>
                    <strong>End Date:</strong> @(FinancialTransactionHistoryService.FinancialTransaction.EndDate?.ToString("MM/dd/yyyy") ?? "Ongoing")
                </p>
            </div>
            <div>
                <RadzenButton ButtonStyle="ButtonStyle.Primary" Text="Add History"
                              Click="@AddTransactionHistory">
                </RadzenButton>
            </div>
        </div>

        @if (FinancialTransactionHistoryService.FinancialTransaction.History?.Any() != true)
        {
            <p>No transaction history available.</p>
        }
        else
        {
            <RadzenDataGrid Data="@FinancialTransactionHistoryService.FinancialTransaction.History"
                            TItem="FinancialTransactionHistory" ShowPagingSummary="true"
                            AllowPaging="false" PageSize="10" Style="height: 400px">
                <Columns>
                    <RadzenDataGridColumn Property="Amount" Title="Amount" FormatString="{0:C}"/>
                    <RadzenDataGridColumn Property="StartDate" Title="Start Date" FormatString="{0:MM/dd/yyyy}"/>
                    <RadzenDataGridColumn Property="EndDate" Title="End Date" FormatString="{0:MM/dd/yyyy}"/>
                    <RadzenDataGridColumn>
                        <Template Context="history">
                            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="edit"
                                          Click="@(_ => UpdateTransactionHistory(history))">
                            </RadzenButton>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>

            <RadzenChart Style="border-top: 1px solid lightgray; margin-top: 2rem">
                <RadzenChartTooltipOptions Shared="@SharedTooltip"/>
                <RadzenLineSeries Smooth="@Smooth" Data="@_displayData" CategoryProperty="Date" Title="Amount"
                                  LineType="LineType.Solid" ValueProperty="Revenue">
                    <RadzenMarkers Visible="@ShowMarkers" MarkerType="MarkerType.Square"/>
                    <RadzenSeriesDataLabels Visible="@ShowDataLabels"/>
                </RadzenLineSeries>
                <RadzenCategoryAxis Padding="20" Step="50" LabelAutoRotation="45" Max="10"/>
                <RadzenValueAxis Formatter="@FormatAsGbp">
                    <RadzenGridLines Visible="true"/>
                    <RadzenAxisTitle Text="Amount"/>
                </RadzenValueAxis>
            </RadzenChart>
        }

        <RadzenButton Style="margin-top: 2rem" ButtonStyle="ButtonStyle.Secondary" Icon="arrow_back" Text="Back"
                      Click="GoBack"/>

    </div>
}

@code {

    [Parameter] public Guid TransactionId { get; set; }

    //RadzenChart variables
    List<DataItem> _displayData = [];
    int _step = int.MinValue;
    private const bool Smooth = true;
    private const bool SharedTooltip = true;
    private const bool ShowDataLabels = true;
    private const bool ShowMarkers = true;

    class DataItem
    {
        public string Date { get; set; } = string.Empty;
        public double Revenue { get; set; }
    }

    protected override async Task OnParametersSetAsync()
    {
        await FinancialTransactionHistoryService.GetFinancialTransactionById(TransactionId);
        await FinancialTransactionHistoryService.GetFinancialTransactionHistoryMinDate(TransactionId);

        ChartDataGenerator();
    }

    async Task AddTransactionHistory()
    {
        if (FinancialTransactionHistoryService.FinancialTransactionHistoryMinDate != null)
        {
            var result = await DialogService.OpenAsync<UpsertTransactionHistoryDialog>("Add Transaction History",
                new Dictionary<string, object>()
                {
                    { "MinStartDate", FinancialTransactionHistoryService.FinancialTransactionHistoryMinDate }
                });

            if (result is FinancialTransactionHistory newTransactionHistory)
            {
                await FinancialTransactionHistoryService.CreateFinancialTransactionHistory(TransactionId, newTransactionHistory);
                await FinancialTransactionHistoryService.GetFinancialTransactionById(TransactionId);
                await FinancialTransactionHistoryService.GetFinancialTransactionHistoryMinDate(TransactionId);

                ChartDataGenerator();
                StateHasChanged();
            }
        }
    }

    async Task UpdateTransactionHistory(FinancialTransactionHistory history)
    {
        var result = await DialogService.OpenAsync<UpsertTransactionHistoryDialog>("Update Transaction History",
            new Dictionary<string, object>()
            {
                { "TransactionHistory", history }, { "ButtonName", "Update" }
            });

        if (result is FinancialTransactionHistory)
        {
            await FinancialTransactionHistoryService.UpdateFinancialTransactionHistory(history);
            ChartDataGenerator();
        }
    }

    private static List<DataItem> DisplayDataGenerator(List<FinancialTransactionHistory> history)
    {
        var output = new List<DataItem>();

        history.ForEach(x =>
        {
            output.Add(new DataItem
            {
                Date = x.StartDate.ToString("MMM yyyy", CultureInfo.CurrentCulture),
                Revenue = x.Amount
            });
        });

        return output;
    }

    //Generates the view data for the RadzenChart
    void ChartDataGenerator()
    {
        if (FinancialTransactionHistoryService.FinancialTransaction != null) _displayData = DisplayDataGenerator(FinancialTransactionHistoryService.FinancialTransaction.History);
        _step = _displayData.Count > 20 ? 3 : 1;
    }

    void GoBack()
    {
        Navigation.NavigateTo("/transactions");
    }

    //Test
    static string FormatAsGbp(object value)
    {
        return ((double)value).ToString("C0", CultureInfo.CreateSpecificCulture("en-GB"));
    }

}