@page "/transaction-history/{TransactionId:guid}"
@using Shared.Entities
@using System.Globalization
@using BudgetAppV2.Client.Pages.Dialogs
@inject NavigationManager Navigation
@inject DialogService DialogService
@inject IFinancialTransactionService FinancialTransactionService
@inject IFinancialTransactionHistoryService FinancialTransactionHistoryService


<h3>Transaction History</h3>

@if (FinancialTransactionHistoryService.FinancialTransaction == null)
{
    <span>Loading...</span>
}
else
{
    <div>
        <div style="display: flex; flex-direction: row; align-items: end; justify-content: space-between; padding: 10px; box-sizing: border-box">
            <div>
                <h4>@FinancialTransactionHistoryService.FinancialTransaction.Name</h4>
                <p>
                    <strong>Current Amount:</strong> @FinancialTransactionHistoryService.FinancialTransaction.CurrentAmount.ToString("C")
                </p>
                <p>
                    <strong>Start Date:</strong> @FinancialTransactionHistoryService.FinancialTransaction.StartDate.ToString("MM/dd/yyyy")
                </p>
                <p>
                    <strong>End Date:</strong> @(FinancialTransactionHistoryService.FinancialTransaction.EndDate?.ToString("MM/dd/yyyy") ?? "Ongoing")
                </p>
            </div>
            <div>
                <RadzenButton ButtonStyle="ButtonStyle.Primary" Text="Add History"
                              Click="@AddTransactionHistory">
                </RadzenButton>
            </div>
        </div>

        <RadzenDataGrid Data="@FinancialTransactionHistoryService.FinancialTransaction.History" TItem="FinancialTransactionHistory" ShowPagingSummary="true"
                        AllowPaging="false" PageSize="10" Style="height: 400px">
            <Columns>
                <RadzenDataGridColumn Property="Amount" Title="Amount" FormatString="{0:C}"/>
                <RadzenDataGridColumn Property="StartDate" Title="Start Date" FormatString="{0:MM/dd/yyyy}"/>
                <RadzenDataGridColumn Property="EndDate" Title="End Date" FormatString="{0:MM/dd/yyyy}"/>
                <RadzenDataGridColumn>
                <Template Context="history" >
                    <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="edit"
                        Click="@(args => UpdateTransactionHistory(history))">
                    </RadzenButton>
                </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>

        <RadzenChart Style="border-top: 1px solid lightgray; margin-top: 2rem">
            <RadzenChartTooltipOptions Shared="@sharedTooltip"/>
            <RadzenLineSeries Smooth="@smooth" Data="@_displayData" CategoryProperty="Date" Title="Amount"
                              LineType="LineType.Solid" ValueProperty="Revenue">
                <RadzenMarkers Visible="@showMarkers" MarkerType="MarkerType.Square"/>
                <RadzenSeriesDataLabels Visible="@showDataLabels"/>
            </RadzenLineSeries>
            <RadzenCategoryAxis Padding="20" Step="50" LabelAutoRotation="45" Max="10"/>
            <RadzenValueAxis Formatter="@FormatAsGbp">
                <RadzenGridLines Visible="true"/>
                <RadzenAxisTitle Text="Amount"/>
            </RadzenValueAxis>
        </RadzenChart>


        <RadzenButton Style="margin-top: 2rem" ButtonStyle="ButtonStyle.Secondary" Icon="arrow_back" Text="Back"
                      Click="GoBack"/>

    </div>
}

@code {

    [Parameter] public Guid TransactionId { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await FinancialTransactionHistoryService.GetFinancialTransactionById(TransactionId);
        await FinancialTransactionHistoryService.GetFinancialTransactionHistoryMinDate(TransactionId);

        _displayData = DisplayDataGenerator(FinancialTransactionHistoryService.FinancialTransaction.History);
        _step = _displayData.Count > 20 ? 3 : 1;
    }


    class DataItem
    {
        public string Date { get; set; } = string.Empty;
        public double Revenue { get; set; }
    }

    async Task AddTransactionHistory()
    {
        var result =
            await DialogService.OpenAsync<UpsertTransactionHistoryDialog>("Add Transaction History", new Dictionary<string, object>()
            {
                { "MinStartDate", FinancialTransactionHistoryService.FinancialTransactionHistoryMinDate }
            });

        if (result is FinancialTransactionHistory newTransactionHistory)
        {
            await FinancialTransactionHistoryService.CreateFinancialTransactionHistory(TransactionId, newTransactionHistory);

            await FinancialTransactionHistoryService.GetFinancialTransactionById(TransactionId);
            
            await FinancialTransactionHistoryService.GetFinancialTransactionHistoryMinDate(TransactionId);


            _displayData = DisplayDataGenerator(FinancialTransactionHistoryService.FinancialTransaction.History);
            _step = _displayData.Count > 20 ? 3 : 1;

            StateHasChanged();
        }
    }

    async Task UpdateTransactionHistory(FinancialTransactionHistory history)
    {
        var result = await DialogService.OpenAsync<UpsertTransactionHistoryDialog>("Update Transaction History", new Dictionary<string, object>() { { "TransactionHistory", history},{"ButtonName", "Update"} });

        if (result is FinancialTransactionHistory updatedFinancialTransactionHistory)
        {
            await FinancialTransactionHistoryService.UpdateFinancialTransactionHistory(history);
        }
    }

    private List<DataItem> DisplayDataGenerator(List<FinancialTransactionHistory> history)
    {
        List<DataItem> output = new List<DataItem>();

        history.ForEach(x =>
        {
            output.Add(new DataItem
            {
                Date = x.StartDate.ToString("MMM yyyy", CultureInfo.CurrentCulture),
                Revenue = x.Amount
            });
        });

        return output;
    }

    List<DataItem> _displayData = new List<DataItem>();
    int _step = 5;

    void GoBack()
    {
        Navigation.NavigateTo("/transactions");
    }

    //Test
    static string FormatAsGbp(object value)
    {
        return ((double)value).ToString("C0", CultureInfo.CreateSpecificCulture("en-GB"));
    }

    bool smooth = true;
    bool sharedTooltip = true;
    bool showDataLabels = true;
    bool showMarkers = true;
}